@{
    ViewBag.Title = "About Us";
}

<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
    <span class="tit2 t-center">
        Furry Friend R 'n R
    </span>

    <h3 class="tit3 t-center m-b-35 m-t-5">
        Our Story
    </h3>

    <p class="t-center size32 m-l-r-auto">
        Furry Friend R n' R is a staple in the community built behind the idea that your family is a part of our family. We have two locations in the Kansas City Metro area on each side of the state border in Lee's Summit, MO and Overland Park, KS. Our staff is top-notch and passionate about the work we do here! Come in and see us and we won't disappoint.
    </p>
</section>

<!-- Background-->
<section class="bg1-pattern p-t-120 p-b-105">
    <div class="container">

        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-delicious t-center">
                    <span class="tit2 t-center">
                        Our
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        VISION
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Our vision is to allow our clients the ability to spend some time away from their pets with full trust in us here at Furry Friend R n' R. We want to be the second home for your animals and the home away from home. Our vision is to love, look after, care for, and pamper the special furry family members that mean so much!
                    </p>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/Content/images/vision.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
        <div class="row p-t-170">
            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/Content/images/mission.jpg" alt="IMG-OUR">
                </div>
            </div>

            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-romantic t-center">
                    <span class="tit2 t-center">
                        Our
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        PASSION
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Our passion is to interact with your pets each and every day. To provide a stable place for them to rest and relax when that something unexpected happens and you need to get away. Our passion are animals, the well-being of those that mean so much to us, and the ability to help them grow and develop to continue to bring such a positive outlook on our lives.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="parallax0 parallax100" style="background-image: url('/Content/images/BackgroundImage.jpg');">
    <div class="overlay0-parallax t-center size33"></div>
</div>


<!-- Team -->
<section class="section-chef bgwhite p-t-115 p-b-95">
    <div class="container t-center">
        <span class="tit2 t-center">
            Meet Our
        </span>

        <h3 class="tit5 t-center m-b-50 m-t-5">
            Hooman Staff
        </h3>

        <div class="row">
            <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                <!-- Staff 1 -->
                <div class="blo5 pos-relative p-t-60">
                    <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/images/JerryFluffOwnerAbout.jpg" alt="IGM-AVATAR"></a>
                    </div>

                    <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                        <a href="@Url.Action("Index","Home")" class="txt34 dis-block p-b-6">
                            Jerry Fluff
                        </a>

                        <span class="dis-block t-center txt35 p-b-25">
                            LEAD EMPLOYEE / BOARDING
                        </span>

                        <p class="t-center">
                            Jerry is a life-long resident in the metropolitan area. Jerry has two dogs and a cat if his own. He enjoys training and spending quality time with his fur babies. Jerry has been with the company since the start of 2020.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                <!-- Staff 2 -->
                <div class="blo5 pos-relative p-t-60">
                    <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/images/SamanthaMuddGMAbout.jpg" alt="IGM-AVATAR"></a>
                    </div>

                    <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                        <a href="@Url.Action("Index","Home")" class="txt34 dis-block p-b-6">
                            Samantha Mudd
                        </a>

                        <span class="dis-block t-center txt35 p-b-25">
                            ADMIN / GENERAL MANAGER
                        </span>

                        <p class="t-center">
                            Samantha is the general manager here at Furry Friend R n' R. Samantha has spent time in management of small businesses dedicated to quality client satisfaction and dealing with animals in all shapes and sizes. Samantha loves to get out of her admin role and spend time developing relationships with your pets.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                <!-- Staff 3 -->
                <div class="blo5 pos-relative p-t-60">
                    <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/images/CindyWhiskersPFAAbout.jpg" alt="IGM-AVATAR"></a>
                    </div>

                    <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                        <a href="@Url.Action("Index","Home")" class="txt34 dis-block p-b-6">
                            Cindy Whiskers
                        </a>

                        <span class="dis-block t-center txt35 p-b-25">
                            LEAD EMPLOYEE / GROOMER
                        </span>

                        <p class="t-center">
                            Cindy has had many roles in her career but pampering has always been her specialty. Cindy has been cutting hair and grooming on humans and pets alike. She enjoys making sure the experience is a great lasting impression that has your pet excited to come back and cared for!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
