@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete Role";
}

<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                <br />
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                <br />
                @Html.DisplayFor(model => model.Name)                
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <br />
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back", "Index")
            </div>
        }
    </div>
</div>
<br />
